body {
  background: pink;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

.container {
  margin-top: 100px;
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  margin: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.photo {
  width: 300px;
  border-radius: 20px;
  margin: 20px 0;
}
